/* Base */
:root {
  --black: #2D2D2D;
  --white: #FFFFFF;
  --lightgray: #F0EEEB;
  --background: #F0EEEB;

  /* Font */
  --font: 'Jost', sans-serif;
 
  /* Size / Spacing */
  --max-width: 1200px;
  --header-height: 70px;

  /* Animation */
  --transition: 0.3s ease;
}
  

/* All */
html, body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--black);
  font-family: var(--font);
}


/* Text */
h1, h2, h3, h4 {
  margin: 0 0 20px;
  font-weight: 700;
}

/* Font */
.jost {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
}

/* Img */
img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Button */
.btn {
  display: inline-block;
  padding: 12px 24px;
  background: var(--color-accent);
  color: #fff;
}


/* TItle Design */
#title_area {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding: 0 3%;
  position: relative;
  z-index: 1000;
}

.TAG_logo {

}

/* Menu Design */
/* =========================
   共通
========================= */
#menu {
  position: fixed;
  background: var(--black);
  z-index: 9999;
  transition: all .3s ease;
}

.hamburger {
  width: 32px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  background: #333;
  border-radius: 2px;
}



/* =========================
   PC
========================= */
@media screen and (min-width: 1024px) {
  .hamburger {
    left: 20px; /* 左上 */
  }

  #menu {
    top: -300px;   /* 上に隠す */
    left: 0;
    width: 100%;
    height: 300px; /* 好きな高さに */
  }

  #menu.open {
    top: 0;
  }
}

/* =========================
   SP
========================= */
@media screen and (max-width: 1023px) {
  .hamburger {
    right: 20px;
  }

  #menu {
    top: 0;
    right: -250px; 
    width: 250px;
    height: 100%;
  }

  #menu.open {
    right: 0;
  }
}



/* Footer */
footer {
  background-color: var(--black);
  color: var(--white);
}

footer .footer_container {
  padding: 0 3%;
  display: flex;
  justify-content: space-between;
}

