/* Base */
:root {
  --black: #2D2D2D;
  --white: #FFFFFF;
  --lightgray: #F0EEEB;

  /* Font */
  --font-main: 'Noto Sans JP', sans-serif;

  /* Size / Spacing */
  --max-width: 1200px;
  --header-height: 70px;

  /* その他よく使うやつ */
  --transition: 0.3s ease;
}

/* All */
html, body {
  margin: 0;
  padding: 0;
  background: var(--lightgray);
  color: var(--black);
  font-family: var(--font-main);
}


/* Title */
h1, h2, h3, h4 {
  margin: 0 0 20px;
  font-weight: 700;
}

/* Img */
img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Button */
.btn {
  display: inline-block;
  padding: 12px 24px;
  background: var(--color-accent);
  color: #fff;
}
